$background-color: rgb(81, 221, 231);
$primary-color: rgb(37, 48, 49);
$secondary-color: rgb(94, 94, 94);
$text-color: rgb(255,255,255);

@mixin clear-link($text-color){
    text-decoration: none;
    color: $text-color;
    cursor: pointer;

    &:hover{
        color: darken($text-color, 30);
    }
}

@mixin customScrollbar{

    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: lighten($primary-color,20);
        border-radius: 5px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 5px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: lighten($primary-color, 60);
    }
}